/*Css Reset*/
*{
	margin: 0px;
	padding: 0px;
}

/*Navigation bar*/
#navbar{
	display: flex;
	align-items: center;
	position: relative;
}


/*Logo and Image navbar*/
 #logo{
 	margin: 10px 30px;

 }

#logo img{
	margin: 3px 5px;
	height: 100px;
}


/*List Styling navbar*/
#navbar ul{
	display: flex;
	font-family: 'Baloo Bhai 2', cursive;

}

#navbar::before{
	content: "";
	background-color: black;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.4;
}
#navbar ul li{
	color: white;
	list-style: none;
	font-size: 1.3rem;

}

#navbar ul li a{
	color: white;
	display: block;
	padding: 3px 20px;
	border-radius: 20px;
	text-decoration: none;
	
}
#navbar ul li a:hover{
	color:black;
	background-color: white;
}

/*Styling for Home Section*/
#home{
	color: white;
	display: flex;
	flex-direction: column;
	padding: 3px 200px;
	height: 420px;
	justify-content: center;
	align-items: center;
}

#home::before{
	content: "";
	background: url("finalbackground.webp") no-repeat center center/cover;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 580px;
	width: 100%;
	z-index: -1;
	opacity: 0.9;
}

#home h1{
	color: white;
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-size: 40px;
	
	
}

#home p{
	color: white;
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Bree Serif', serif
	
}

/*Services section*/



#services{
	margin: 30px;
	display: flex;
}
#services .box{
	border: 2px solid brown;
	padding: 40px;
	margin: 0px 80px;
	border-radius: 30px;
	background-color: #eee6e6;
}
#services .box img{
	height: 160px;
	display: block;
	margin: auto;
}
#services
#services
#services

/*Client Section*/

#client-section{
	height: 100px;
}

#client-section::before{
	content: "";
	position: absolute;
	background: url("contact-us-4193523__340.webp") no-repeat center center/cover;
	width: 100%;
	height: 50%;
	z-index: -1;
	opacity: 0.6;
}

.client-item{
	padding: 34px;
	margin: 4px 20px;
}

#clients{
	display: flex;
	justify-content: center;
	align-items: center;
}

#clients img{
	height: 130px;
}


/*Utility Class*/

.h-primary{
	font-size: 3.8rem;
	padding: 12px;
	font-family: 'Baloo Bhai 2', cursive;

}
.h-secondary{
	font-size: 2rem;
	padding: 12px;
	font-family: 'Baloo Bhai 2', cursive;
}

.btn{
	padding: 6px 20px;
	border: 2px solid white;
	background-color: brown;
	color: white;
	margin: 17px;
	font-size: 1.5rem;
	border-radius: 10px;
	cursor: pointer;

}

.btn:hover{
	color: black;
	background-color: yellow;

}

.center{
	text-align: center;
}



